<section id="about" class="about">
  <div class="about-image">
    <img src="/images/img8.png" alt="Carlos Sequera Martínez" />
  </div>

  <div class="about-content">
    <span>Sobre Nosotros</span>

    <h2>Creamos espacios donde la naturaleza forma parte de tu vida.</h2>

    <p>
      En Esquina Verde creemos que cualquier vivienda puede disfrutar de un espacio natural,
      independientemente de su tamaño.
    </p>

    <p>
      Carlos Sequera Martínez diseña e instala jardines sostenibles, huertos urbanos y jardines
      verticales para hogares, terrazas, empresas y comunidades.
    </p>

    <div class="about-list">
      <div>
        <i class="fa-solid fa-circle-check"></i>
        Diseño personalizado
      </div>

      <div>
        <i class="fa-solid fa-circle-check"></i>
        Materiales sostenibles
      </div>

      <div>
        <i class="fa-solid fa-circle-check"></i>
        Instalación profesional
      </div>

      <div>
        <i class="fa-solid fa-circle-check"></i>
        Asesoramiento continuo
      </div>
    </div>

    <a href="https://wa.me/34603214164" target="_blank"> Solicitar Presupuesto </a>
  </div>
</section>
