.faq {
  padding: 120px 8%;
}

.faq-list {
  max-width: 900px;

  margin: auto;

  margin-top: 60px;
}

.faq-item {
  padding: 30px;

  border: 1px solid #eaeaea;

  border-radius: 18px;

  margin-bottom: 20px;

  background: white;

  transition: 0.3s;
}

.faq-item:hover {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
}

.faq-item h3 {
  color: #23492e;

  margin-bottom: 15px;
}

.faq-item p {
  color: #666;

  line-height: 1.8;
}
